<h1>Leila's Top Five Songs</h1>
<p>Here are some of my favorite songs...</p>

<div class="row">
    <% @songs.each_with_index do |song, index| %>
    	<% if index < @songs.length-1 %>
      		<div class="col-md-6">
      	<% else %>
			<div class="col-md-6 col-md-offset-3">
      	<% end %>
        	<div class="well">
        	<h3><%= link_to song.name, song %></h3>
        	<p>by <%= song.artist.name %></p>
        	<p>
          		<% song.rating.times do %>
            <span class="glyphicon glyphicon-star" style="color:yellow"></span>
          <% end %>
          <% (10 - song.rating).times do %>
          <span class="glyphicon glyphicon-star"></span>
          <% end %>
        </p>

        <p>
          <%= link_to edit_song_path(song) do %> 
            <span class="glyphicon glyphicon-pencil"></span> Edit
          <% end %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %> 
            <span class="glyphicon glyphicon-trash"></span> Delete
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>